<div class="HomeContainer">
    <app-loggedin-navbar></app-loggedin-navbar>
    <div class="containerOfProfileCard">
        <div class="rowOfPersonalData">
            <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-trendy-style-social-media-user-icon-187599373.jpg" alt="">
            <div class="otherContainer">
                <span  class="esfowdjsowdjf">
                    Akram El Basri
                </span>
                <div class="ofdwfusdowf" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#15B99B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail-icon lucide-mail"><path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"/><rect x="2" y="4" width="20" height="16" rx="2"/></svg>&nbsp;akramelbasri7[at]gmail.com
                </div>
                <div  class="ofdwfusdowf" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#15B99B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone-icon lucide-phone"><path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/></svg>&nbsp;0616506586
                </div>
                <div  class="ofdwfusdowf" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#15B99B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-in-icon lucide-log-in"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/><polyline points="10 17 15 12 10 7"/><line x1="15" x2="3" y1="12" y2="12"/></svg>&nbsp;Inscrit le 03/12/2024
                </div>
                <button class="updateProfileData">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil-line-icon lucide-pencil-line"><path d="M12 20h9"/><path d="M16.376 3.622a1 1 0 0 1 3.002 3.002L7.368 18.635a2 2 0 0 1-.855.506l-2.872.838a.5.5 0 0 1-.62-.62l.838-2.872a2 2 0 0 1 .506-.854z"/><path d="m15 5 3 3"/></svg>
                </button>
            </div>
        </div>
        <div class="rowOfPersonalData rowOfPersonalData2">
                <span>
                    Votre établissement : 
                </span>
                <span>
                    <b>Nom : &nbsp;&nbsp;</b> Al Inbiaat Privée
                </span>
                <span>
                    <b>Email : &nbsp;&nbsp;</b>contact[at]ibiaat.ma
                </span>
                <span>
                    <b>Téléphone : &nbsp;&nbsp;</b>+212 716 187 462
                </span>
                <span>
                    <b>Adresse : &nbsp;&nbsp;</b>80, Cité Dakhla, Agadir, 80000 
                </span>
        </div>
        <div class="rowOfPersonalData3">
            <span>
                <b>Abonnement actuel : &nbsp;&nbsp;</b>Standard
            </span>
            <button>
                Passer au forfait Premium&nbsp;&nbsp;<i class="fa-solid fa-chevron-right" ></i>
            </button>
        </div>
    </div>

</div>