<div class="heroContainer2">
    <div class="containerOfStars">
        <i class="fa-regular fa-lightbulb"></i>
        &nbsp;Tout est couvert
    </div>
    <span class="titleHero1" >
        Pourquoi EDU ?
    </span>
    <p class="descHero1" >
        EDU est l'outil indispensable pour simplifier la vie des étudiants et du personnel. Rapide, sécurisé, et totalement adapté à vos besoins. Centralisez l'enseignement, la communication et la gestion en un seul endroit.
    </p>
    <div class="gridX">
        <div class="cardX">
            <div class="card-iconX">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-check2-icon lucide-calendar-check-2"><path d="M8 2v4"/><path d="M16 2v4"/><path d="M21 14V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h8"/><path d="M3 10h18"/><path d="m16 20 2 2 4-4"/></svg>
            </div>
            <h3 class="card-titleX">
                Planification intelligente
            </h3>
            <p class="card-textX">
                Gérez facilement emplois du temps, examens, rattrapages et événements.
            </p>
        </div>
        <div class="cardX">
            <div class="card-iconX">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-spline-icon lucide-chart-spline"><path d="M3 3v16a2 2 0 0 0 2 2h16"/><path d="M7 16c.5-2 1.5-7 4-7 2 0 2 3 4 3 2.5 0 4.5-5 5-7"/></svg>    
            </div>
            <h3 class="card-titleX">
                Suivi des notes et bulletins
            </h3>
            <p class="card-textX">
                Accédez aux résultats en temps réel, classés par matière, semestre et examen.
            </p>
        </div>
        <div class="cardX">
            <div class="card-iconX">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-graduation-cap-icon lucide-graduation-cap"><path d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z"/><path d="M22 10v6"/><path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5"/></svg>
            </div>
            <h3 class="card-titleX">
                Espace étudiant complet
            </h3>
            <p class="card-textX">
                Absences, retards, rattrapages, parcours académique détaillé.
            </p>
        </div>
        <div class="cardX">
            <div class="card-iconX">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shapes-icon lucide-shapes"><path d="M8.3 10a.7.7 0 0 1-.626-1.079L11.4 3a.7.7 0 0 1 1.198-.043L16.3 8.9a.7.7 0 0 1-.572 1.1Z"/><rect x="3" y="14" width="7" height="7" rx="1"/><circle cx="17.5" cy="17.5" r="3.5"/></svg>
            </div>
            <h3 class="card-titleX">
                Gestion des enseignants et tuteurs
            </h3>
            <p class="card-textX">
                Affectation des cours, suivi des présences, gestion de la charge horaire.
            </p>
        </div>
        <div class="cardX">
            <div class="card-iconX">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-route-icon lucide-route"><circle cx="6" cy="19" r="3"/><path d="M9 19h8.5a3.5 3.5 0 0 0 0-7h-11a3.5 3.5 0 0 1 0-7H15"/><circle cx="18" cy="5" r="3"/></svg>
            </div>
            <h3 class="card-titleX">
                Parcours académique détaillé
            </h3>
            <p class="card-textX">
                Suivi des unités, crédits, validations, rattrapages, et diplômes.
            </p>
        </div>
        <div class="cardX">
            <div class="card-iconX">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield-check-icon lucide-shield-check"><path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"/><path d="m9 12 2 2 4-4"/></svg>
            </div>
            <h3 class="card-titleX">
                Espace sécurisé et centralisé
            </h3>
            <p class="card-textX">
                Toutes les données dans un seul outil, accessible 24/7.
            </p>
        </div>
    </div>
</div>


<div class="heroContainer2">
    <div class="containerOfStars">
        <i class="fa-solid fa-dollar"></i>
        &nbsp;Votre plan, vos besoins
    </div>
    <span class="titleHero1" >
        Tarifs Transparents
    </span>
    <p class="descHero1" >
        Découvrez nos formules flexibles, conçues pour s’adapter à toutes les tailles d’établissement.
        Que vous soyez une petite structure ou un grand campus, trouvez l’offre qui vous correspond, sans surprise ni frais cachés.
    </p>
    <section class="pricing-container">

        <div class="card">
            <h2 class="card-title">Standard</h2>
            <p class="card-price">0 MAD<span class="period">/mois</span></p>
            <p class="card-subtitle">
                Pour les petits établissements ou test initial.
            </p>
            <button class="btn btn-outline">Commencer gratuitement</button>
            <ul class="features">
                <li><i class="fa-solid fa-check" ></i><span>Planification d’emplois du temps</span></li>
                <li><i class="fa-solid fa-check" ></i><span>Accès étudiant limité</span></li>
                <li><i class="fa-solid fa-check" ></i><span>Notifications par e-mail</span></li>
                <li><i class="fa-solid fa-check" ></i><span>Suivi basique des absences</span></li>
                <li><i class="fa-solid fa-check" ></i><span>Tableau de bord administratif</span></li>
            </ul>
        </div>

        <div class="card">
            <h2 class="card-title">Pro</h2>
            <p class="card-price">999 MAD<span class="period">/mois</span></p>
            <p class="card-subtitle">
                Pour les campus de taille moyenne et besoins avancés.
            </p>
            <button class="btn btn-outline">
                Passer au Pro
            </button>
            <ul class="features">
                <li><i class="fa-solid fa-check" ></i><span>Tout dans Essentiel, plus :</span></li>
                <li><i class="fa-solid fa-check" ></i><span>Suivi complet des notes et bulletins</span></li>
                <li><i class="fa-solid fa-check" ></i><span>Gestion des rattrapages et examens</span></li>
                <li><i class="fa-solid fa-check" ></i><span>Espace dédié aux enseignants & tuteurs</span></li>
                <li><i class="fa-solid fa-check" ></i><span>Accès mobile et desktop illimité</span></li>
                <li><i class="fa-solid fa-check" ></i><span>Support prioritaire par e-mail</span></li>
            </ul>
          </div>
      
        <div class="card popular">
            <div class="badge badgeX"><i class="fa-solid fa-fire" ></i>&nbsp;Le plus populaire</div>
            <h2 class="card-title">Premium</h2>
            <p class="card-price">3999 MAD<span class="period">/mois</span></p>
            <p class="card-subtitle">
                Pour les grands campus et intégrations sur-mesure.
            </p>
            <button class="btn btn-primary btnKKK">
                Passer au Premium
            </button>
            <ul class="features">
                <li><i class="fa-solid fa-check" ></i><span>Tout dans Pro, plus :</span></li>
                <li><i class="fa-solid fa-check" ></i><span>API REST et intégrations tierces</span></li>
                <li><i class="fa-solid fa-check" ></i><span>Formation et onboarding dédiés</span></li>
                <li><i class="fa-solid fa-check" ></i><span>Gestion avancée des droits utilisateurs</span></li>
                <li><i class="fa-solid fa-check" ></i><span>Rapports et analytics personnalisés</span></li>
                <li><i class="fa-solid fa-check" ></i><span>Support 24/7 (chat & téléphone)</span></li>
            </ul>
        </div>

    </section>
</div>